<footer id="footer" class="bg-light" >
  <div class="container">
    <div class="row justify-content-center">

      <div class="col col-lg-1" style="text-align: center">
        <a href="https://www.linkedin.com/in/lucasrollo/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>

      <div class="col col-lg-1" style="text-align: center">
        <a href="https://github.com/LucasRollo" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
      </div>

      <div class="col col-lg-1" style="text-align: center">
        <a href="mailto:rollocha@tamu.edu"><i class="fas fa-envelope-square fa-2x"></i></a>
      </div>

    </div>

    <!-- <div class="row justify-content-center footerpara">
      <div class="col col-lg-4">
        <p>&copy; 2019 <a class="linkAnimation" href="">Lucas Rollo</a>.<p>
      </div>


    </div> -->

  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/home.js" charset="utf-8"></script>
</body>

</html>
