<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Lucas Rollo</title>

  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700|Roboto+Slab:300,400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">

</head>




<body class="bg-light">


  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light navbar-space">
    <a class="navbar-brand" href="#"><strong>lucas rollo</strong></a>
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="dark-blue-text"><i class="fas fa-bars"></i></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

      <ul class="navbar-nav ml-auto ">

        <li class="nav-item">
          <a class="nav-link linkAnimation" href="#">HOME<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link linkAnimation" href="#">ABOUT<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link linkAnimation" href="#">PROJECTS<span class="sr-only">(current)</span></a>
        </li>


      </ul>
    </div>

  </nav>
