@font-face {
    font-family: "Arvo";
    src: url("fonts/arvo/Arvo-Regular.ttf");
    src: url("fonts/arvo/Arvo-Regular.woff2") format(woff2),
    url("fonts/arvo/Arvo-Regular.woff") format(woff);
}
@font-face {
    font-family: "Bebas Neue";
    src: url("fonts/bebas_neue.ttf");
    src: url("fonts/bebas_neue.woff2") format(woff2),
    url("fonts/bebas_neue.woff") format(woff);
}
@font-face {
    font-family: "Merriweather";
    src: url("fonts/merriweather-sans/MerriweatherSans-Bold.ttf");
    src: url("fonts/merriweather-sans/MerriweatherSans-Bold.woff2") format(woff2),
    url("fonts/merriweather-sans/MerriweatherSans-Bold.woff") format(woff);
}

#profilepic{
    padding-top: 45px;
    text-align: center;
    border-radius: 80px;
    background: 600px solid #ffffff;
    line-height: 10%;
    }

#myname{
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 150%;
    

}

#aboutme{
    font-family: "Arvo";
    text-align: left;
    padding-left: 27%;
    padding-right: 24%;
    color: #838383;
    font-size: 70%
    
}

#projects{
    font-family: "Bebas Neue";
    font-size: 140%;
    margin-left: 3%;
    margin-top: 100px;
}

#projectcards{
    text-align: center;
    display: flex;
    font-family: "Arvo";
    margin-left: 29%;
}

.card{
    flex-grow: 1;
    flex-basis: 1px;
    border: 1px solid black;
    max-width: 20%;
    margin: 12px;
    padding: 24px;
}

#skills{
    font-family: "Bebas Neue";
    font-size: 140%;
    margin-left: 3%;
    margin-top: 100px;
}

#skillsecs{
    display: flex;
    margin-left: 20%;
}

.sec{
    font-family: "Arvo";
    padding-left: 150px;

}

#hobbies{
    margin-left: 3%;
    font-family: "Bebas Neue";
    font-size: 140%;
    margin-top: 100px;

}

#footer{
    text-align: center;
    font-family: "arvo";
    color: #838383;

}
