<%- include("partials/header") %>









<section id="header">
  <div class="container topSpacing">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <h1 style="font-size: 3.2rem; font-family: AvenirNext-Bold"><strong>LEARNER.<br>THINKER. DEVELOPER.</strong></h1>
      </div>
      <div class="col-lg-6 offset-lg-2">
        <p>I’m a sophomore Computer Science major at Texas A&M University.
          I have interests in web development, consulting, and entrepreneurship. </p>
        <p style="color: black">Currently seeking a Fall 2019 internship in software engineering.</p>
      </div>
    </div>

  </div>
</section>

<hr>

<section id="experience">
  <div class="container sectionSpacing">
    <div class="row align-items-center">
      <div class="col-lg-3">
        <h2>EXPERIENCE</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
</section>

<hr>

<section id="skills">
  <div class="container sectionSpacing">
    <div class="row align-items-center title">
      <div class="col-lg-3">
        <h2>SKILLS</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-3 skillCard">
        <h5><strong>Technical</strong></h5>
        <p style="margin-bottom: 0;">HTML/CSS/Javascript</p>
        <p style="margin-bottom: 0;">Node.js, Express.js</p>
        <p style="margin-bottom: 0;">Python, C++</p>
      </div>

      <div class="col-lg-3 offset-lg-1 skillCard">
        <h5><strong>Libraries/APIs</strong></h5>
        <p style="margin-bottom: 0;">jQuery, MongoDB, SQL</p>
      </div>

      <div class="col-lg-3 offset-lg-1 skillCard">
        <h5><strong>Design</strong></h5>
        <p style="margin-bottom: 0;">Adobe Photoshop</p>
        <p style="margin-bottom: 0;">Adobe Illustrator</p>
      </div>

    </div>

</section>



<section style="margin-top: 1000px">

</section>








<%- include("partials/footer") %>
