<%- include("partials/header") %>









<section id="header">
  <div class="container topSpacing">
    <div class="row align-items-center">
      <div class="col-lg-4 offset-lg-1">
        <h1 style="font-size: 3.2rem"><strong>LEARNER.<br>THINKER. DEVELOPER.</strong></h1>
      </div>
      <div class="col-lg-5 offset-lg-1" >
        <p>I’m a sophomore Computer Science major at Texas A&M University.
          I have interests in web development, consulting, and entrepreneurship. </p>
          <p style="color: black">Currently looking for a Fall 2019 internship in software engineerng.</p>
      </div>
    </div>

  </div>
</section>

<hr>

<section id="experience">
<div class="container sectionSpacing">
  <div class="row align-items-center">
    <div class="col-lg-3 offset-lg-1">
      <h2>experience EXPERIENCE</h2>
    </div>
  </div>

<div class="row">
  <div class="col">

  </div>
</div>


</div>



</section>





<section style="margin-top: 1000px">

</section>








<%- include("partials/footer") %>
